<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="display-4">
    Welcome to Inclusive Professor Rating!
  </h1>

  <br>
  <!--<h2>Select your school:</h2>-->
  <div class="btn-group">
  <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select your school
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item"  *ngFor="let uni of universities" routerLink="/university/{{uni.id}}">{{uni.name}}</a>
  </div>
</div>
</div>